.navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navegacion a {
  text-decoration: none;
  color: #f2f2f2;
}

.navegacion a:hover {
  transition: all 0.2s ease;
  color: #cbb7ff;
}

.navbar {
  background-color: #7e679e;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}

.btn {
  color: #f2f2f2;
}

.btn:hover {
  transition: all 0.2s ease;
  color: #cbb7ff;
}

/* FOOTER */
.footer {
  background: #2a213a;
  font-size: 15px;
}

.footer h5,
.footer h4 {
  color: #cbb7ff;
}

.footer p {
  color: #e9e9e9;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #e9e9e9;
  transition: 0.2s ease;
}

.footer-links a:hover {
  color: #cbb7ff;
  text-shadow: 0 0 8px rgba(203, 183, 255, 0.6);
}

.social-icons a {
  color: #e9e9e9;
  font-size: 1.5rem;
  margin-right: 12px;
  transition: 0.2s ease;
}

.social-icons a:hover {
  color: #cbb7ff;
  text-shadow: 0 0 10px rgba(203, 183, 255, 0.9);
}

main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}
