.navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navegacion a {
  text-decoration: none;
  color: #f2f2f2;
}

.navegacion a:hover {
  transition: all 0.2s ease;
  color: #cbb7ff;
}

.navbar {
  background-color: #7e679e;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.25);
}

.btn {
  color: #f2f2f2;
}

.btn:hover {
  transition: all 0.2s ease;
  color: #cbb7ff;
}

/* FOOTER */
.footer {
  background: #2a213a;
  font-size: 15px;
}

.footer h5,
.footer h4 {
  color: #cbb7ff;
}

.footer p {
  color: #e9e9e9;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #e9e9e9;
  transition: 0.2s ease;
}

.footer-links a:hover {
  color: #cbb7ff;
  text-shadow: 0 0 8px rgba(203, 183, 255, 0.6);
}

.social-icons a {
  color: #e9e9e9;
  font-size: 1.5rem;
  margin-right: 12px;
  transition: 0.2s ease;
}

.social-icons a:hover {
  color: #cbb7ff;
  text-shadow: 0 0 10px rgba(203, 183, 255, 0.9);
}

main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* --- CONTENEDOR DEL FORM --- */
.contacto-container {
  background-color: #ffffff;
  min-height: 70vh;
  padding-top: 40px;
}

/* --- TÍTULO --- */
.titulo-contacto {
  color: #cbb7ff;
  font-weight: 700;
  margin-top: -40px;
}

.contact-form {
  max-width: 700px;
  background-color: #f3ecff; /* lavanda claro */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border: 1px solid #d7c6ff;
}

.contact-form .form-label {
  color: #2a213a;
  font-weight: 600;
}

.input-contacto {
  background-color: #faf7ff;
  border: 1px solid #cbb7ff;
  color: #2a213a;
}

.input-contacto:focus {
  background-color: #ffffff;
  border-color: #8f74c5;
  box-shadow: 0 0 6px rgba(140, 105, 200, 0.6);
}

/* Botón */
.boton-enviar {
  background-color: #8f74c5;
  color: white;
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 8px;
  transition: 0.2s ease;
}

.boton-enviar:hover {
  background-color: #a88ae6;
  box-shadow: 0 0 10px #cbb7ff;
}
